name: Wiki Link Checker

on:
  gollum:       # Se activa al editar la Wiki
  schedule:
    - cron: '0 9 * * 1' # Lunes a las 9:00 AM
  workflow_dispatch: # Botón manual para probarlo tú cuando quieras

jobs:
  check-wiki-links:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: write # Necesario para crear la issue
    steps:
      - uses: actions/checkout@v4
        with:
          repository: ${{ github.repository }}.wiki
          path: wiki_files

      - name: Link Checker
        uses: lycheeverse/lychee-action@v1.9.0
        id: lychee
        continue-on-error: true
        with:
          args: --verbose --no-progress --max-concurrency 1 --max-retries 3 './wiki_files/**/*.md'
          format: markdown
          output: ./lychee/out.md
          fail: true # No fallamos el pipeline para poder crear la issue después
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Issue From File
        if: steps.lychee.outcome == 'failure' # SOLO crea issue si hay errores
        uses: peter-evans/create-issue-from-file@v5
        with:
          title: Link Checker Report
          content-filepath: ./lychee/out.md
          labels: report, automated issue