name: Wiki Link Checker

on:
  gollum: # Se activa al editar una página de la Wiki
  schedule:
    - cron: '0 9 * * 1' # Lunes a las 9:00 AM
  workflow_dispatch: # Botón manual

jobs:
  check-wiki-links:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      issues: write
    steps:
      - uses: actions/checkout@v4
        with:
          repository: ${{ github.repository }}.wiki
          path: wiki_files

      - name: Link Checker
        uses: lycheeverse/lychee-action@v1.9.0
        with:
          # Escanea todos los Markdown de la wiki
          args: --verbose --no-progress './wiki_files/**/*.md'
          format: markdown
          output: ./lychee/out.md
          # Si encuentra enlaces rotos, el pipeline falla y te avisa
          fail: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Issue From File
          if: steps.lychee.outputs.exit-code != 0
          uses: peter-evans/create-issue-from-file@v5
          with:
            title: Link Checker Report 
            content-filepath: ./lychee/out.md
            labels: report, automated issue
        