name: Wiki Link Checker

on:
  push:
    branches:
      - 'ci/mejora-ci-wiki'
  workflow_dispatch:

jobs:
  check-wiki-links:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: write # Necesario para crear la issue
    steps:
      - uses: actions/checkout@v4
        with:
          repository: ${{ github.repository }}.wiki
          path: wiki_files

      - name: Link Checker
        uses: lycheeverse/lychee-action@v1.9.0
        id: lychee
        with:
          # --max-concurrency 1: Clave para evitar el error 503
          args: --verbose --no-progress --max-concurrency 1 --retry 3 './wiki_files/**/*.md'
          format: markdown
          output: ./lychee/out.md
          fail: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # <--- ¡AQUÍ ESTÁ! IMPORTANTE MANTENERLO

      - name: Create Issue From File
        if: steps.lychee.outputs.exit_code != 0
        uses: peter-evans/create-issue-from-file@v5
        with:
          title: Link Checker Report
          content-filepath: ./lychee/out.md
          labels: report, automated issue